{% extends 'catalog/base.html' %}

{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Пароль успешно восстановлен</h1>
</div>

<div class="container">
    <div class="col-12 d-flex justify-content-center">
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <p> Ваш новый пароль отправлен вам на почту. С ним вы можете войти в <a href="{% url 'users:login' %}">личный кабинет. </a></p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}