{% extends 'catalog/base.html' %}

{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Проверьте вашу почту</h1>
</div>

<div class="container">
    <div class="col-12 d-flex justify-content-center">
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <p> Мы отправили вам инструкции по восстановлению пароля.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}